.projects-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15vh 5vh 20vh 5vh;
}

.projects-block {
    display: grid;
    grid-column: 1;
}

.projects-home {
    display: grid;
    grid-column: 2;
    font-family: "Montserrat", sans-serif;
}

.github-align {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

footer {
    background-color: #024AAC;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }